version: '3'

services:
  db:
    image: postgres
    container_name: db

  ruby:
    container_name: ruby
    build: ./rails-api
    command: bundle exec rails s -p 3002 -b '0.0.0.0'
    volumes:
      - ./rails-api:/rails
    depends_on:
      - db
    environment:
      - VIRTUAL_HOST=api.donaldgeddes.ca
      - LETSENCRYPT_HOST=api-test.donaldgeddes.ca
      - LETSENCRYPT_EMAIL=hi@donaldgeddes.ca

  express:
    container_name: express
    build: ./express
    ports:
      - '3001:3001'
    volumes:
      - ./express:/express

  react:
    container_name: react
    build: ./react
    ports:
      - '3000:3000'
    volumes:
      - ./react:/client/
      - /client/node_modules
